html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; /* This creates an invisible buffer so the Navbar doesn't cover your section titles */
}
@import "tailwindcss";

@theme {
  --color-luxury-gold: #d4af37;
  --color-luxury-slate: #1e293b;
  --color-luxury-accent: #f1f5f9;
}

:root {
  --background: #1e293b; /* Slate Background */
  --foreground: #f1f5f9; /* Light Text */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}